

@media (max-width: 1199px) {
    .header-logo {
        width: 123px;
        margin-left: -14px;
    }
    .main-menu ul li a {
        font-size: 17px;
    }
    .main-menu ul {
        gap: 55px;
    }
    .header-in {
        padding: 20px 0;
    }
    .hero__content .h1 {
        font-size: 45px;
        margin-bottom: 20px;
    }
    .hero__content p {
        font-size: 19px;
        margin-bottom: 20px;
    }
    .default-button {
        padding: 6px 20px 3px;
        font-size: 16px;
        min-height: 49px;
        min-width: 220px;
        border-radius: 15px;
    }
    .hero__content .line {
        width: 160px;
        margin-bottom: 20px;
        height: 1px;
    }

    .hero__content {
        width: 300px;
        margin-left: 0px;
        margin-right: 60px;
    }
    .hero-section {
        padding: 145px 0 40px;
    }
    .bt-btn {
        width: 30px;
    }
    .hero-bottom {
        padding-top: 45px;
    }

    .products__content .h2 {
        margin-bottom: 32px;
    }
    .h2 {
        font-size: 40px;
    }
    .d-ul li {
        font-size: 19px;
        padding-left: 24px;
        padding-top: 6px;
        position: relative;
    }
    .d-ul li::before {
        height: 17px;
        width: 17px;
    }
    .products__content {
        padding-left: 80px;
    }
    .products-section {
        padding: 50px 0;
    }
    .default-button.sm {
        border-radius: 10px;
        min-height: 32px;
        min-width: 120px;
    }
    .products-section__bottom {
        margin-top: 20px;
    }

    .benefit-ttl {
        width: 210px;
        top: 10px;
        right: -25px;
    }
    .benefit-m {
        width: 340px;
        bottom: 11px;
        left: -110px;
    }
    .benefit-option .txt {
        margin-left: 25px;
        font-size: 20px;
    }
    .benefit-option .mk {
        height: 12px !important;
        width: 100px !important;
    }
    .benefit-options {
        gap: 13px;
        padding-left: 200px;
    }
    .benefit-section {
        padding: 60px 0;
    }

    .trust-section-bt-shape {
        width: 165px;
        bottom: 70px;
        left: 50px;
    }
    .trust-option img {
        width: calc(var(--wd) * 0.6);
    }
    .trust-section {
        padding: 80px 0 360px;
        position: relative;
    }

    .hear-section__title {
        width: 178px;
        margin-right: 70px;
    }
    .hear-slide__img-p {
        width: 240px;
        height: 313px;
        border-radius: 300px;
        margin-left: 50px;
    }
    .hear-slide__title h3 {
        font-size: 24px;
        margin-bottom: 4px;
    }
    .hear-slide__title h4 {
        font-size: 18px;
        margin-bottom: 12px;
    }
    .hear-slide__b p {
        margin-bottom: 20px;
        font-size: 19px;
    }
    .hear-section {
        padding: 340px 0 60px;
        margin-top: -400px;
    }
    .default-button.lg {
        padding: 14px 30px 8px;
        font-size: 25px;
        min-height: 70px;
        min-width: 277px;
    }
    .book-section__title {
        margin-bottom: 60px;
    }
    
    .footer-row {
        padding-left: 40px;
    }


    .kla-title h2 {
        font-size: 45px;
    }
    .kla-content p {
        font-size: 19px;
    }
    .kla-section {
        padding: 280px 0 45px;
        margin-top: -133px;
    }
    .ofr-section {
        padding: 90px 0 35px;
    }
    .ofr-sec-bottom .zig-line {
        width: 250px;
    }
    .ofr-sec-bottom {
        margin-top: 45px;
    }


    .about-hero__image .img-caption {
        top: 70px;
        left: 80px;
        font-size: 50px;
    }
    .about-hero-section {
        padding: 130px 0 60px;
    }
    .about-hero__content p {
        font-size: 25px;
    }
    .about-hero__content {
        margin-top: 60px;
    }


    .team-section__title .h2 {
        font-size: 45px;
    }
    .team-section {
        padding: 40px 0;
    }
    .team-section__title {
        margin-bottom: 70px;
    }
    .team-member__image {
        width: 210px;
        height: 210px;
    }
    .team-member {
        margin-bottom: 120px;
        gap: 70px;
    }
    .team-member__mt h4 {
        font-size: 29px;
        margin-bottom: 2px;
    }
    .team-member__mt h3 {
        font-size: 30px;
        gap: 7px;
    }
    .team-member__mt h3 .linkedin {
        width: 27px;
        margin-top: -0px;
    }
    .team-member__bd p {
        font-size: 19px;
        margin-bottom: 18px;
    }
    .team-member__bd .bottom-tx-button {
        font-size: 19px;
    }
    .background-group-a1 {
        padding-bottom: 150px;
    }
    .background-group-a2 {
        padding-top: 290px;
        margin-top: -290px;
    }
    .a-bottom {
        margin-top: 50px;
        height: 320px;
    }


    .contact-form__title .h2 {
        font-size: 40px;
    }
    .contact-side__image {
        width: 210px;
        margin-left: 70px;
    }
    .contact-form__title {
        margin-bottom: 25px;
    }
    .input-x {
        padding: 15px 17px;
        font-size: 18px;
        height: 60px;
        border-radius: 4px;
        margin-bottom: 12px;
    }
    .input-x-submit {
        min-height: 48px;
        min-width: 112px;
        font-size: 16px;
        padding: 8px 10px 4px;
        border-radius: 7px;
    }

    .contact-section {
        padding: 200px 0 30px;
    }
}


@media (max-width: 991px) {
    .products__screen {
        max-width: 400px;
        margin: 0 auto;
    }
    .products__content {
        padding-left: 205px;
    }
    .benefit-m {
        width: 200px;
        bottom: 11px;
        left: -90px;
    }
    .benefit-ttl {
        width: 120px;
        top: 10px;
        right: -20px;
    }
    .benefit-options {
        gap: 13px;
        padding-left: 50px;
    }
    
    .hear-section__row {
        flex-wrap: wrap;
    }
    .hear-section__title {
        width: 100%;
        margin-bottom: 20px;
        text-align: center;
    }


    .kla-row {
        gap: 40px;
    }
    .d-ul--max {
        padding-left: 0;
        gap: 20p0x;
    }


    .about-hero__content {
        padding: 0;
    }


    .contact-section__inner {
        padding: 0;
    }
}


@media (max-width: 768px) {
    .hero__content {
        width: 137px;
        margin-left: 20px;
        margin-right: 19px;
        display: flex;
        flex-direction: column;
    }
    .hero__content .h1 {
        font-size: 35px;
        margin-bottom: 12px;
        order: -5;
        font-weight: 500;
    }
    .hero__content .h1 .mbl-dse {
        font-weight: 700;
        text-transform: uppercase;
    }
    .hero__content .line {
        order: -4;
        max-width: 100%;
    }
    .hero__content p {
        font-size: 18px;
        margin-bottom: 19px;
    }
    .hero__image {
        max-width: 230px;
        margin-right: -35px;
        margin-left: auto;
    }
    .hero__image .img-thumb-1 {
        margin-left: 25.2%;
        margin-top: -20%;
        width: 40%;
        border-radius: 10px;
    }
    .hero__image .img-thumb-2 {
        margin-top: -5%;
        margin-left: 21.2%;
        width: 40%;
        border-radius: 13px;
    }
    .hero__row {
        padding-bottom: 50px;
        position: relative;
    }
    .hero__content .bottom-button {
        position: absolute;
        bottom: 0;
        left: 50%;
        transform: translate(-50%,0);
    }
    .hero-bottom {
        display: none;
    }

    .default-button {
        min-height: 38px;
        font-size: 15px;
        min-width: 162px;
        border-radius: 40px;
        background: linear-gradient(transparent,#fff);
    }
    .hero-section {
        padding: 130px 0 30px;
    }


    .h2 {
        font-size: 30px;
    }
    .products-mobile-title {
        text-align: center;
        margin-bottom: 35px;
    }
    .products__screen {
        max-width: 225px;
    }
    .products__content {
        padding-left: 55px;
    }


    .benefit-section__title {
        text-align: left;
        align-items: flex-start;
        padding-left: 50px;
        margin-bottom: 35px;
    }
    .benefit-option .txt {
        margin-left: 13px;
        font-size: 12.5px;
    }
    .benefit-option .mk {
        height: 8px !important;
        width: 75px !important;
    }
    .benefit-option .spacer {
        width: 20px;
    }
    .benefit-options {
        gap: 5px;
        padding-left: 30px;
    }
    .benefit-m {
        width: 160px;
        bottom: 13px;
        left: -80px;
    }

    
    .trust-options {
        flex-wrap: wrap;
        justify-content: center;
        gap: 0px;
    }
    .trust-option {
        margin: 0 5px;
    }
    .trust-option img {
        width: calc(var(--wd) * 0.45);
    }
    .trust-section__title {
        margin-bottom: 15px;
    }
    .trust-section__title .h2 {
        color: var(--theme__color1);
    }
    .trust-section {
        padding: 20px 0 220px;
    }
    .trust-section-bt-shape {
        display: none;
    }
    .hear-slide__img-p {
        width: 150px;
        height: 196px;
        margin-left: 12px;
    }
    .hear-slide__b p {
        margin-bottom: 10px;
        font-size: 13px;
    }
    .hear-slide__title h3 {
        font-size: 15px;
        margin-bottom: 4px;
        color: var(--theme__color1);
    }
    .hear-slide__title h4 {
        font-size: 15px;
        margin-bottom: 4px;
        color: var(--theme__color1);
    }
    .hear-slide__title .line {
        width: 103px;
    }
    .hear-slide__content {
        width: 0;
        flex-grow: 1;
    }
    .hear-slide__b .bottom-button {
        display: none;
    }
    .slider-dots-1 .owl-dot {
        height: 10px;
        width: 10px;
    }
    .slider-dots-1 .owl-dots {
        gap: 12px;
        margin-top: 18px;
    }
    .hear-section__title {
        margin-right: 0;
    }
    .hear-slider__outer {
        width: 100%;
    }
    .hear-section {
	padding: 70px 0 60px;
	margin-top: -100px;
    }
    .book-section__title .h2 {
        text-transform: capitalize;
    }
    .book-section__title .h2 .fw-500 {
        font-weight: 400 !important;
    }
    .book__main {
        flex-direction: column;
        gap: 40px;
    }
    .book-section__title {
        margin-bottom: 20px;
    }
    .default-button.lg {
        padding: 9px 30px 5px;
        font-size: 16px;
        min-height: 44px;
        min-width: 190px;
    }
    .book-section {
        padding: 30px 0 70px;
    }

    

    .footer-section {
        background: #fff;
        color: #000;
    }
    .footer-logo {
        width: 88px;
        margin-left: -19px;
    }


    .product-hero .hero__content {
        width: 168px;
        margin-right: 0;
    }
    .product-hero .hero__content .line {
        width: 73px;
        height: 2px;
    }
    .product-hero .hero__content p {
        line-height: 1.03;
    }
    .product-hero .hero__content .bottom-button {
        left: 20px;
        transform: translate(0);
        background: #fff;
    }
    .product-hero .hero-mobile {
        margin-left: -30px;
        max-width: calc(100% + 50px);
    }
    .product-hero .hero__row {
        padding-bottom: 42px;
    }


    .kla-section {

    }
    .kla-bg-shape {
        display: none;
    }
    .kla-row {
        gap: 20px;
        flex-wrap: wrap;
    }
    .kla-title h2 {
        font-size: 35px;
        line-height: 1.1;
    }
    .kla-section__inner {
        padding: 0 20px;
    }
    .kla-content p {
        font-size: 15px;
    }
    .kla-section {
        padding: 41px 0 30px;
        margin-top: 0;
    }


    .ofr-row {
        padding: 0 20px;
        flex-wrap: wrap;
    }
    .ofr-title {
        margin-left: auto;
        margin-top: 0px;
        order: -1;
        margin-bottom: 10px;
    }
    .ofr-content .benefit-options .benefit-option:nth-child(6) {
        display: none;
    }
    .ofr-content .benefit-options .benefit-option:nth-child(7) {
        display: none;
    }
    .ofr-title .h2 {
        text-align: right;
    }
    .ofr-content {
        display: flex;
        width: 100%;
        align-items: center;
        justify-content: center;
    }
    .ofr-sec-bottom {
        display: none;
    }
    .d-ul--max {
        display: flex;
        justify-content: flex-start;
        flex-direction: row;
    }
    .d-ul--max li {
        width: 100%;
        margin-top: 3px;
    }
    .d-ul--max li::after {
        display: none;
    }
    .cf-section {
        padding: 0px 0 130px;
    }
    .ofr-section {
        padding: 35px 0 35px;
    }
    .background-group-p3 {
        padding-top: 170px;
        margin-top: -170px;
        padding-bottom: 0px;
    }


    .about-hero__content p {
        font-size: 15px;
        line-height: 1.1;
    }
    .about-hero__content__title {
        margin-bottom: 15px;
    }
    .about-hero__content__title .h2 {
        font-size: 35px;
        line-height: 1;
    }
    .about-hero__content__title .line {
        width: 74px;
        height: 2px;
        background: #fff;
        display: block;
    }
    .about-hero__content__inner {
        max-width: 188px;
        flex-shrink: 0;
    }
    .about-hero__content {
        margin: 0;
        margin-left: 10px;
        display: flex;
        gap: 20px;
        justify-content: space-between;
    }
    .about-hero__mobile-image {
        width: 232px;
        flex-shrink: 0;
        position: relative;
        -webkit-mask-image: url('../images/about-hero-mobile-image.png');
        mask-image: url('../images/about-hero-mobile-image.png');
        -webkit-mask-repeat: no-repeat;
        mask-repeat: no-repeat;
        -webkit-mask-size: 100% 100%;
        mask-size: 100% 100%;
      }
      .about-hero__mobile-image .img {
        width: 100%;
      }
      .about-hero__mobile-image .ft__video {
        position: absolute;
        top: 0;
        left: 0;
        height: 100%;
        width: 100%;
      }
      .about-hero__mobile-image .ft__video video {
        height: 100%;
        width: 100%;
        object-fit: cover;
      }

    .about-hero-section {
        padding: 120px 0 35px;
    }

    .team-section__title .h2 {
        font-size: 30px;
    }
    .team-section {
        padding: 20px 0;
    }
    .team-section__title {
        margin-bottom: 0px;
    }
    .team-section__inner {
        padding: 0 10px;
    }
    .team-member {
        gap: 5px;
        flex-direction: column;
        text-align: left;
        align-items: center;
    }
    .team-member__image {
        width: 130px;
        height: 130px;
        order: -1;
    }
    .team-member__mt {
        min-height: 110px;
        margin-bottom: 12px;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
    .team-member__mt h4 {
        font-size: 15px;
        padding-bottom: 6px;
        margin-bottom: 6px;
        color: var(--theme__color1);
        text-align: center;
        position: relative;
    }
    .team-member__mt h4::after {
        content: '';
        height: 1px;
        width: 62px;
        background: var(--theme__color1);
        display: block;
        position: absolute;
        bottom: 0;
        left: 50%;
        transform: translate(-50%,0);
    }
    .team-member__mt h3 {
        font-size: 15px;
        flex-direction: column !important;
        align-items: center;
        gap: 3px;
        color: var(--theme__color1);
        text-align: center;
        line-height: 1;
    }
    .team-member__bd p {
        font-size: 15px;
        margin-bottom: 16px;
        line-height: 1.12;
    }
    .team-member__bd .bottom-tx-button {
        font-size: 15px;
    }
    .team-member {
        margin-bottom: 0px;
    }
    .team-member__bd .bottom-tx-button {
        color: #fff;
        margin-top: 30px;
        display: block;
    }
    .team-member--4 {
        margin-top: -63px;
    }
    .a-bottom {
        margin-top: 0px;
        height: 250px;
    }


    .contact-side__image {
        display: none;
    }
    .contact-form__title .h2 {
        font-size: 35px;
        line-height: 0.7;
        font-weight: 700;
        text-align: center;
    }
    .contact-form__title {
        margin-bottom: 29px;
    }
    .contact-section__inner {
        padding: 0 10px;
    }
    .input-x {
        padding: 15px 17px 11px;
        font-size: 20px;
        height: 52px;
        border-radius: 8px;
        margin-bottom: 11px;
    }
    .input-x-submit {
        min-height: 38px;
        min-width: 162px;
        font-size: 15px;
        padding: 8px 10px 4px;
        border-radius: 39px;
    }
    .contact-section {
        padding: 115px 0 0px;
    }
}


@media (max-width: 575px) {
    
}


@media (max-width: 390px) {
    .products__content {
        padding-left: 25px;
    }
    .benefit-options {
        gap: 5px;
        padding-left: 0px;
        margin-left: -20px;
    }
    .benefit-option .txt {
        font-size: 12px;
    }
    .benefit-ttl {
        width: 100px;
        top: 20px;
        right: -20px;
    }
    .benefit-section__title {
        padding-left: 30px;
    }
    .h2 {
        font-size: 25px;
    }
}
